#phones {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    height: auto;
    font-size: 85%;
}

#phones div.phone img {
    margin-bottom: 1px;
}

#phones div.phone {
    float: left;
    padding: 8px 17px;
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    text-align: center;
    line-height: 1.25em;
    color: #333;
    font-family: "Helvetica Neue",sans-serif;
    height: 113px;
    width: 112px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.x-ie6 #phones div.phone,
.x-ie7 #phones div.phone,
.x-ie8 #phones div.phone {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

/*#phones ul li.phone-hover {
    background-color: #eee;
}*/

#phones .x-view-selected {
    background-color: rgba(100, 100, 100, .15);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

#phones div.phone strong {
    color: #000;
    display: block;
}

#phones div.phone span {
    color: #999;
}
