@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: 'Cuprum';
	src: url('../ui_fonts/Cuprum.ttf');
}
.mitos-mask {
    z-index:  300000;
}
.mitos-mask-msg {
    z-index:300001;
    left:   45%;
    top:    50%;
}
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    margin: 0;
}
::-webkit-scrollbar-track-piece  {
    background-color: #fff;
    -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}
.RenderPanel{
    background-color: #DFE8F6!important;
    padding: 5px !important;
    border: solid 1px #CCC;
}
.RenderPanel .x-panel-body{
	background-color: #fff !important;
}
.RenderPanel-header{
	background-color: #DFE8F6;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}
.RenderPanel-body{
	padding:5px;
	background-color: #fff;
	border-color: #D4CDCC;
	border-style: solid;
	border-width:1px;
}
.form-white-bg .x-panel-body {
	background-color: #fff !important;
	background-color: #fff !important;
	border-color: #D4CDCC !important;
	border-style: solid !important;
	border-width: 1px !important;
}
.x-grid-table .x-grid-row{
cursor: pointer !important;
}
.x-border-layout-ct{
    background-color: #f7f7f7;
}
.dashboard_title{
	font-family: "Cuprum";
	font-size: 24px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
}

.search_title{
    color: #0066CC !important;
    font-size: 14px !important;
    border-bottom: 1px dotted #0066CC !important;
}
.search_source{
    font-size: 10px !important;

}
.search_snippet{
    font-size: 12px !important;

}
.search_data{
    background-color: #DFE8F6;
    padding:10px;
    border-bottom: 1px dotted #0066CC !important;
}
.search_data .search_title{
    color: #596F8F !important;
    border: none !important;
}
.search_body{
    padding: 10px;
    font-size: 14px !important;
}
.search_body p{
    padding: 5px 0 5px 0 !important;
}
.search_body ul, .search_body ol{
    margin-left: 25px !important;
}
.search_body li{
    list-style: circle !important;
}

.patient_btn_img {
    float: left;
    height: 32px;
    width: 32px;

}
.patient_btn_img img{

    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}
.patient_btn_info {
    color: #666666;
    float: left;
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    min-width: 150px;

}
.patient_btn_name {
    font-weight: bold;
}

body#login{
	background-image:url(login_bg.png) !important;
	background-position: bottom;
	background-attachment:fixed;
	background-repeat:repeat-x !important;
	background-color: #FFF;
	margin: 0px;
}
#bg_logo{
	position: absolute;
	background-image:url(mitosehr_big_logo.png);
	background-position: top center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 196px;
}
#copyright{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	color: #333;
	position: absolute;
	bottom: 5px;
	right: 10px;
}

#copyright a{
	color: #333;;
}

#dashboard_title{
	font-size: 24px;
	color: #333;
	width: 100%;
}
/*Top Alert Message Styles*/
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
.toolDelete {
    background-color: #ffcccc ! important;
    border: 1px solid #999999;
}
.toolDelete:hover {
    background-color: #FF9999 ! important;
    background-image: none;
    border: 1px solid #999999;
}
.winDelete{
    background:none;
    background-color:#FF9999!important
}
.winDelete:hover{
    background:none;
    background-image: none;
    background-color:#ff6666!important
}
.winSave{
    background:none;
    background-color:#66ff66!important
}
.winSave:hover{
    background:none;
    background-image: none;
    background-color:#33ff00!important
}
.winDelete span{
}