@mixin extjs-layout {

    .#{$prefix}-docked {
        position: absolute;
        z-index: 1;
    }

    .#{$prefix}-box-inner {
        overflow:hidden;

        zoom:1;

        position:relative;
        left:0;
        top:0;
    }

    .#{$prefix}-box-item {
        position:absolute !important;
        left:0;
        top:0;
    }

    .#{$prefix}-box-layout-ct, .#{$prefix}-border-layout-ct {
        overflow:hidden;
        zoom:1;
    }
    
    .#{$prefix}-overflow-hidden {
        overflow:hidden !important;
    }
    
    .#{$prefix}-abs-layout-item {
        position: absolute;
    }
    
    .#{$prefix}-border-layout-ct {
        background-color: mix($base-color, #fff, 15);
    }

    .#{$prefix}-border-region-slide-in {
        z-index: 3;
    }

    .#{$prefix}-accordion-hd .#{$prefix}-panel-header-text {
        color: #222;
        font-weight: normal;
    }

    .#{$prefix}-accordion-hd {
        .#{$prefix}-tool-collapse-top,
        .#{$prefix}-tool-collapse-right,
        .#{$prefix}-tool-collapse-bottom,
        .#{$prefix}-tool-collapse-left {
            background-position: 0 -255px;
        }

        .#{$prefix}-tool-expand-top,
        .#{$prefix}-tool-expand-right,
        .#{$prefix}-tool-expand-bottom,
        .#{$prefix}-tool-expand-left {
            background-position: 0 -240px;
        }

        .#{$prefix}-tool-over {
            .#{$prefix}-tool-collapse-top,
            .#{$prefix}-tool-collapse-right,
            .#{$prefix}-tool-collapse-bottom,
            .#{$prefix}-tool-collapse-left {
                background-position: -15px -255px;
            }
        }

        .#{$prefix}-tool-over {
            .#{$prefix}-tool-expand-top,
            .#{$prefix}-tool-expand-right,
            .#{$prefix}-tool-expand-bottom,
            .#{$prefix}-tool-expand-left {
                background-position: -15px -240px;
            }
        }
    }

    .#{$prefix}-frame-tl,
    .#{$prefix}-frame-tr,
    .#{$prefix}-frame-tc,
    .#{$prefix}-frame-bl,
    .#{$prefix}-frame-br,
    .#{$prefix}-frame-bc {
        overflow: hidden;
        background-repeat: no-repeat;
    }
    
    .#{$prefix}-frame-tc,
    .#{$prefix}-frame-bc {
        background-repeat: repeat-x;
    }
    
    .#{$prefix}-frame-mc {
        position: relative;
        background-repeat: repeat-x;
    }
    
    .#{$prefix}-frame-mc {
        overflow: hidden;
    }
}