@mixin extjs-form-triggerfield {
	.#{$prefix}form-trigger-wrap {
        float: left;
    }
    
    .#{$prefix}form-trigger {
        background-image: theme-image($theme-name, 'form/trigger.gif');
		background-position: 0 0;
		
		width: $form-trigger-width;
		height: $form-trigger-height;
		float: left;

		border-bottom: $form-trigger-border-bottom;

        cursor: pointer;
        cursor: hand;
    }
    
    .#{$prefix}form-trigger-over {
		background-position: -$form-trigger-width 0;

		border-bottom-color: $form-trigger-border-bottom-color-over;
    }
    
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger {
		background-position: -($form-trigger-width * 3) 0;

		border-bottom-color: $form-trigger-border-bottom-color-focus;
    }
    
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger-over {
        background-position: -($form-trigger-width * 4) 0;
        
        @if $form-trigger-border-bottom-color-focus-over {
            border-bottom-color: $form-trigger-border-bottom-color-focus-over;
        }
    }
    
    .#{$prefix}form-trigger-click,
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger-click {
		background-position: -($form-trigger-width * 2) 0;
		
		@if $form-trigger-border-bottom-color-pressed {
    		border-bottom-color: $form-trigger-border-bottom-color-pressed;
    	}
    }

    .#{$prefix}form-trigger-icon {
        height: $form-trigger-width - 1;
        
        background-repeat: no-repeat;
        background-position: $form-trigger-icon-background-position;
    }
    
    .#{$prefix}pickerfield-open {
        .#{$prefix}form-field {
            @include border-bottom-radius(0);
        }
    }
    
    .#{$prefix}pickerfield-open-above {
        .#{$prefix}form-field {
            @include border-bottom-left-radius(3px);
            @include border-top-radius(0);
        }
    }
    
    .#{$prefix}form-arrow-trigger {
        .#{$prefix}form-trigger-icon {
            background-image: theme-image($theme-name, 'boundlist/trigger-arrow.png');
        }
    }
    
    .#{$prefix}form-date-trigger {
        background-image: theme-image($theme-name, 'form/date-trigger.gif');
    }
    
    .#{$prefix}form-spinner-up,
    .#{$prefix}form-spinner-down {
        background-image: theme-image($theme-name, 'form/spinner.gif');
        
        width: $form-trigger-width;
        height: 11px;
        
        font-size: 0; /*for IE*/
        
        border-bottom: 0;
    }
    .#{$prefix}form-spinner-down {
        background-position: 0 -11px;
        height: 10px;
    }
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-spinner-down {
        background-position: -($form-trigger-width * 3) -11px;
    }
    .#{$prefix}form-spinner-down-over {
        background-position: -$form-trigger-width -11px;
    }
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-spinner-down-over {
        background-position: -($form-trigger-width * 4) -11px;
    }

    .#{$prefix}form-spinner-down-click,
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-spinner-down-click {
        background-position: -($form-trigger-width * 2) -11px;
    }
}
