@mixin extjs-form-checkboxfield {
    .#{$prefix}form-cb-wrap {
        line-height: 18px;
    }

    .#{$prefix}form-checkbox,
    .#{$prefix}form-radio {
        float: none;
        vertical-align: bottom;
    }

    .#{$prefix}form-cb-label {
        margin-left: 4px;
        position: relative;
        top: 2px;
    }

    @if $include-ie {
        .#{$prefix}ie {
            .#{$prefix}form-checkbox,
            .#{$prefix}form-radio {
                /* Removes extra margin around boxes to match other browsers */
                width: 15px;
                height: 15px;
            }

            .#{$prefix}form-cb-label {
                top: 1px;
            }
        }

        .#{$prefix}quirks .#{$prefix}ie {
            .#{$prefix}form-checkbox,
            .#{$prefix}form-radio {
                margin-top: 3px;
            }

            .#{$prefix}form-cb-label {
                top: 3px;
            }
        }
    }
}