@mixin extjs-datepicker {
  .#{$prefix}-datepicker {
    border: 1px solid #718BB7;
    border-top: 0 none;
    background-color: #fff;
    position: relative;
  }

  .#{$prefix}-datepicker a {
    -moz-outline: 0 none;
    outline: 0 none;
    color: #15428B;
    text-decoration: none;
    border-width: 0;
  }

  .#{$prefix}-datepicker-inner,
  .#{$prefix}-datepicker-inner td,
  .#{$prefix}-datepicker-inner th {
    border-collapse: separate;
  }
  
  .#{$prefix}-datepicker-next,
  .#{$prefix}-datepicker-prev,
  .#{$prefix}-datepicker-month {
    @include inline-block;
  }

  .#{$prefix}-datepicker-month .#{$prefix}-btn,
  .#{$prefix}-datepicker-month button,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-tc,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-tl,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-tr,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-mc,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-ml,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-mr,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-bc,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-bl,
  .#{$prefix}-datepicker-month .#{$prefix}-btn-br {
    background: transparent !important;
    
    border-width: 0 !important;
  }

  .#{$prefix}-datepicker-middle .#{$prefix}-btn-mc em.#{$prefix}-btn-arrow {
    background: transparent no-repeat right 0;
  }

  .#{$prefix}-datepicker-prev,
  .#{$prefix}-datepicker-next {
    width: 18px;
  }

  .#{$prefix}-datepicker-next {
    text-align: right;
  }

  .#{$prefix}-datepicker-month {
    width: 140px;
    
    button {
      position: relative;
    }
  }
  
  .#{$prefix}-datepicker-month button {
    width: 138px;
    
    color: #fff !important;
    font: normal 11px "sans serif", tahoma, verdana, helvetica !important;
  }
  
  //left/right selectors on the datepicker
  .#{$prefix}-datepicker-prev a,
  .#{$prefix}-datepicker-next a {
    display: block;
    
    width: 16px;
    height: 16px;
    
    background-position: center;
    background-repeat: no-repeat;
    
    cursor: pointer;
    
    @include opacity(.6);
  }

  .#{$prefix}-datepicker-prev a:hover,
  .#{$prefix}-datepicker-next a:hover {
    @include opacity(1);
  }

  .#{$prefix}-item-disabled .#{$prefix}-datepicker-prev a:hover,
  .#{$prefix}-item-disabled .#{$prefix}-datepicker-next a:hover {
    @include opacity(.6);
  }

  .#{$prefix}-datepicker-next a {
    margin-right: 2px;
    
    text-decoration: none !important;
    
    background-image: theme-image($theme-name, 'shared/right-btn.gif');
  }

  .#{$prefix}-datepicker-prev a {
    margin-left: 2px;
    
    text-decoration: none !important;
    
    background-image: theme-image($theme-name, 'shared/left-btn.gif');
  }

  table.#{$prefix}-datepicker-inner {
    width: 100%;
    table-layout: fixed;
  }
  
  .#{$prefix}-datepicker-header {
    background: repeat-x 0 -83px;
    background-image: theme-image($theme-name, 'shared/hd-sprite.gif');
    padding-top: 4px;
    height: 28px;
  }
  .ext-strict .#{$prefix}-datepicker-header {
    height: 22px;
  }
  .#{$prefix}-datepicker-inner {
  
    th {
      width: 25px;
      height: 19px;
      background: repeat-x left top;
      background-color: #dfecfb;
      background-image: theme-image($theme-name, 'shared/glass-bg.gif');

      font: normal 10px arial, helvetica,tahoma,sans-serif;
      color: #233d6d;
      text-align: right !important;

      border-bottom: 1px solid #a3bad9;

      cursor: default;

      padding: 0;

      border-collapse: separate;
      
      span {
        display: block;
        padding-right: 7px;
      }
    }
    
    tr {
      height: 20px;
    }
    
    td {
      border: 1px solid;
      height: 17px;
      border-color:#fff;
      
      text-align: right;
      padding: 0;
    }
    
    a {
      padding-right: 4px;

      display: block;

      text-decoration: none;
      text-align: right;
      zoom: 1;
      
      font: normal 11px arial, helvetica,tahoma,sans-serif;
      color: #000;
    }
    
    .#{$prefix}-datepicker-active {
      cursor:pointer;
      color:black;
    }
    
    .#{$prefix}-datepicker-selected {
      a {
        background: repeat-x left top;
        background-color: #dfecfb;
        background-image: theme-image($theme-name, 'shared/glass-bg.gif');
        border: 1px solid #8db2e3;
      }
      
      span {
        font-weight: bold;
      }
    }
    
    .#{$prefix}-datepicker-today {
      a {
        border: 1px solid;
        border-color: darkred;
      }
    }
    
    .#{$prefix}-datepicker-prevday,
    .#{$prefix}-datepicker-nextday {
      a {
        text-decoration: none !important;
        color: #aaa;
      }
    }
    
    a:hover,
    .#{$prefix}-datepicker-disabled a:hover {
      text-decoration: none !important;
      color: #000;
      background-color: #ddecfe;
    }
    
    .#{$prefix}-datepicker-disabled a {
      cursor: default;
      background-color: #eee;
      color: #bbb;
    }
  }
  
  .#{$prefix}-datepicker-footer,
  .#{$prefix}-monthpicker-buttons {
    border-top: 1px solid;
    border-top-color: #a3bad9;
    background-color: #dfecfb;
    height: 28px;
    text-align: center;
    padding-top: 2px;
    background: repeat-x left top;
    background-image: theme-image($theme-name, 'shared/glass-bg.gif');
    
    .#{$prefix}-btn {
      margin: 0 2px;
    }
  }
  
  .ext-strict .#{$prefix}-datepicker-footer,
  .ext-strict .#{$prefix}-monthpicker-buttons {
    height: 25px;
  }
  
  .#{$prefix}-item-disabled .#{$prefix}-datepicker-inner a:hover {
    background: none;
  }
  
  //month picker
  .#{$prefix}-monthpicker {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #718BB7;
    background: #fff;
    .#{$prefix}-monthpicker-months,
    .#{$prefix}-monthpicker-years {
      float: left;
      height: 165px;
      width: 88px;
    }
    
    .#{$prefix}-monthpicker-item {
      @include inline-block;
      margin: 4px 0 5px 0;
      font: normal 11px arial, helvetica,tahoma,sans-serif;
      height: 18px;
      border: 0 none;
      text-align: center;
      vertical-align: middle;
      width: 43px;
      a {
        display: block;
        margin: 0 5px 0 5px;
        border: 1px solid #fff;
        height: 18px;
        line-height: 17px;
        &:hover {
          color:#15428b;
          background-color: #ddecfe;
        }
        
        &.#{$prefix}-monthpicker-selected {
          background-color: #dfecfb;
   
          background-image: theme-image($theme-name, 'shared/glass-bg.gif');
          border-color: #8db2e3;
        }
      }
    }
    
    .#{$prefix}-monthpicker-months {
      border-right: 1px solid #718BB7;
      width: 87px;
    }
    
    .#{$prefix}-monthpicker-years {
    
      .#{$prefix}-monthpicker-item {
        width: 44px;
      }
      .#{$prefix}-monthpicker-yearnav {
      
        height: 28px;
        
        button {
          background-image: theme-image($theme-name, 'tools/tool-sprites.gif');
          height: 15px;
          width: 15px;
          padding: 0;
          margin: 6px 12px 5px 15px;
          border: none;
          background-color: #fff;
        }
    
        .#{$prefix}-monthpicker-yearnav-next {
          background-position: 0 -120px;
          &:hover {
           background-position: -15px -120px;
          }
        }
    
        .#{$prefix}-monthpicker-yearnav-prev {
          background-position: 0 -105px;
          &:hover {
            background-position: -15px -105px;
          }
        }
      }
    }
  }
  
  .ext-strict .#{$prefix}-monthpicker .#{$prefix}-monthpicker-item a {
      height: 17px;
      line-height: 16px;  
  }
}