@mixin extjs-qtip {
  .#{$prefix}-tip {
    position: absolute;
    border-color: $tip-border-color;

    .#{$prefix}-tip-header {
      .#{$prefix}-box-item {
        padding: 5px 5px 0 5px;
      }

      .#{$prefix}-tool {
        padding: 1px 2px 0 0 !important;
      }
    }
  }
  
  @include x-frame(
    $cls: 'tip',
    $border-radius: $tip-border-radius,
    $border-width: $tip-border-width,
    $background-color: $tip-background-color,
    $background-gradient: $tip-background-gradient
  );

  .#{$prefix}-tip-header-text {
    @include no-select;

    color: $tip-header-color;
    font-size: $tip-header-font-size;
    font-weight: $tip-header-font-weight;
    text-shadow: $tip-header-text-shadow;
  }

  .#{$prefix}-tip-header-draggable {
    .#{$prefix}-tip-header-text {
      cursor: move;
    }
  }

  // Tip is a Panel. It uses dock layout. Body style must be the same
 .#{$prefix}-tip-body {
    overflow: hidden;
    position: relative;
    padding: 5px;
  }

  .#{$prefix}-tip-header,
  .#{$prefix}-tip-body {
    color: $tip-body-color;
    font-size: $tip-body-font-size;
    font-weight: $tip-body-font-weight;
    text-shadow: $tip-body-text-shadow;
    a {
      color: $tip-body-link-color;
    }
  }

  .#{$prefix}-tip-anchor {
    position: absolute;

    overflow: hidden;

    height: 0;
    width: 0;

    border-style: solid;
    border-width: 5px;
    border-color: $tip-border-color;

    zoom: 1;
  }

  .#{$prefix}-tip-anchor-top {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

    @if $include_ie {
      _border-top-color: pink;
      _border-left-color: pink;
      _border-right-color: pink;
      _filter: chroma(color=pink);
    }
  }

  .#{$prefix}-tip-anchor-bottom {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    
    @if $include_ie {
      _border-bottom-color: pink;
      _border-left-color: pink;
      _border-right-color: pink;
      _filter: chroma(color=pink);
    }
  }
  
  .#{$prefix}-tip-anchor-left {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    
    @if $include_ie {
      _border-top-color: pink;
      _border-bottom-color: pink;
      _border-left-color: pink;
      _filter: chroma(color=pink);
    }
  }
  
  .#{$prefix}-tip-anchor-right {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    
    @if $include_ie {
      _border-top-color: pink;
      _border-bottom-color: pink;
      _border-right-color: pink;
      _filter: chroma(color=pink);
    }
  }
}

/*
@import 'ext-base';

.#{$prefix}-tip {
  position:absolute;
  top:0;
  left:0;
  
  visibility:hidden;
  
  z-index:20002;
  
  border:1px solid;
  @include border-radius($window-border-radius);
  
  .#{$prefix}-tip-tl,
  .#{$prefix}-tip-bwrap {
    border:1px solid;
  }
  
  .#{$prefix}-tip-tl {
    border-bottom-width:0;
    @include border-top-radius($window-border-radius);
  }
  
  .#{$prefix}-tip-bwrap {
    border-top-width:0;
    @include border-bottom-radius($window-border-radius);
  }
  
  .#{$prefix}-tip-header-text,
  .#{$prefix}-tip-body {
    padding:5px;
    
    cursor:default;
    
    &.#{$prefix}-tip-header-text {
      display:inline-block;
      
      padding-bottom:0;
    }
  }
  
  .#{$prefix}-tip-header {
    position:relative;
    
    .#{$prefix}-tool-close {
      position:absolute;
      top:3px;
      right:3px;
      
      height:11px;
      width:11px;
      
      opacity:.8;
      -moz-opacity:.8;
      
      background-repeat:no-repeat;
      
      cursor:pointer;
      
      z-index:2;
      
      &:hover {
        opacity:1;
        -moz-opacity:1;
      }
    }
    
    &.#{$prefix}-tip-draggable {
      cursor:move;
      
      .#{$prefix}-tip-header-text { cursor:move; }
    }
  }
}
*/

