.x-panel {
    border-color: #99bbe8;
}

.x-panel-header {
    color: #15428b;
    font-weight:bold;
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    border-color: #99bbe8;
    background: transparent url(../images/default/panel/white-top-bottom.gif) repeat-x 0 -2px;
}

.x-panel-body {
    border-color: #99bbe8;
    background-color: #fff;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-color:#99bbe8;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-top-color:#99bbe8;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-top-color:#99bbe8;
}

.ext-ie .x-panel-tl {
    background-image: url(../images/default/panel/corners-tl.gif);
}

.ext-ie .x-panel-tr {
    background-image: url(../images/default/panel/corners-tr.gif);
}

.ext-ie .x-panel-bl {
    background-image: url(../images/default/panel/corners-bl.gif);
}

.ext-ie .x-panel-br {
    background-image: url(../images/default/panel/corners-br.gif);
}

.ext-gecko .x-panel-tc,
.ext-webkit .x-panel-tc,
.ext-gecko .x-panel-bc,
.ext-webkit .x-panel-bc {
    background-color: #DFE8F6;
    border-color: #99bbe8;
}

.ext-ie .x-panel-tc {
    background-image: url(../images/default/panel/corners-tc.gif);
}

.ext-ie .x-panel-bc {
    background-image: url(../images/default/panel/corners-bc.gif);
}

.x-panel-framed .x-panel-body {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    background-color:#dfe8f6;
}

.ext-ie .x-panel-ml {
    background-color: #fff;
    background-image:url(../images/default/panel/left-right.gif);
}

.ext-gecko .x-panel-ml,
.ext-webkit .x-panel-ml {
    background-color: #DFE8F6;
    border-color: #99bbe8;
}

.x-panel-mr {
    background-image: url(../images/default/panel/left-right.gif);
}

.ext-gecko .x-panel-mr,
.ext-webkit .x-panel-mr {
    background-image: none;
    background-color: #DFE8F6;
    border-color: #99bbe8;
}

.x-tool img {
    background-image:url(../images/default/panel/tool-sprites.gif);
}

.x-panel-ghost {
    background-color:#cbddf3;
}

.x-panel-ghost ul {
    border-color:#99bbe8;
}

.x-panel-dd-spacer {
    border-color:#99bbe8;
}

.x-panel-fbar td,.x-panel-fbar span,.x-panel-fbar input,.x-panel-fbar div,.x-panel-fbar select,.x-panel-fbar label{
    font:normal 11px arial,tahoma, helvetica, sans-serif;
}
