.x-fieldset-items-alt{ float: left; }
.x-fieldset-group-alt-1{
	background-color: #fafafa;
	margin: 2px;
}
.x-fieldset-group-alt-2{
	margin: 2px;
}

.ambulanceICO{
	background-image: url(../img/telephone.png) !important;
}

.ux-ambulance-title{
	font-weight: bold;
	font-size: 12px;
	color: #333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: dotted;
	border-top-color: #09F;
	border-right-color: #09F;
	border-bottom-color: #09F;
	border-left-color: #09F;
}
