$button-arrow-size: 15px !default;
$button-split-size: 18px !default;
$button-icon-spacing: 4px !default;

$button-small-border-radius: 3px !default;
$button-small-border-width: 1px !default;
$button-small-padding: 3px !default;
$button-small-font-size: 11px !default;
$button-small-font-size-over: 11px !default;
$button-small-font-size-pressed: 11px !default;
$button-small-font-size-disabled: 11px !default;
$button-small-font-weight: normal !default;
$button-small-font-weight-over: normal !default;
$button-small-font-weight-pressed: normal !default;
$button-small-font-weight-disabled: normal !default;
$button-small-font-family: Tahoma, Arial, Verdana, sans-serif !default;
$button-small-font-family-over: Tahoma, Arial, Verdana, sans-serif !default;
$button-small-font-family-pressed: Tahoma, Arial, Verdana, sans-serif !default;
$button-small-font-family-disabled: Tahoma, Arial, Verdana, sans-serif !default;
$button-small-icon-size: 16px !default;

$button-medium-border-radius: 3px !default;
$button-medium-border-width: 1px !default;
$button-medium-padding: 3px !default;
$button-medium-font-size: 11px !default;
$button-medium-font-size-over: 11px !default;
$button-medium-font-size-pressed: 11px !default;
$button-medium-font-size-disabled: 11px !default;
$button-medium-font-weight: normal !default;
$button-medium-font-weight-over: normal !default;
$button-medium-font-weight-pressed: normal !default;
$button-medium-font-weight-disabled: normal !default;
$button-medium-font-family: Tahoma, Arial, Verdana, sans-serif !default;
$button-medium-font-family-over: Tahoma, Arial, Verdana, sans-serif !default;
$button-medium-font-family-pressed: Tahoma, Arial, Verdana, sans-serif !default;
$button-medium-font-family-disabled: Tahoma, Arial, Verdana, sans-serif !default;
$button-medium-icon-size: 24px !default;

$button-large-border-radius: 3px !default;
$button-large-border-width: 1px !default;
$button-large-padding: 3px !default;
$button-large-font-size: 11px !default;
$button-large-font-size-over: 11px !default;
$button-large-font-size-pressed: 11px !default;
$button-large-font-size-disabled: 11px !default;
$button-large-font-weight: normal !default;
$button-large-font-weight-over: normal !default;
$button-large-font-weight-pressed: normal !default;
$button-large-font-weight-disabled: normal !default;
$button-large-font-family: Tahoma, Arial, Verdana, sans-serif !default;
$button-large-font-family-over: Tahoma, Arial, Verdana, sans-serif !default;
$button-large-font-family-pressed: Tahoma, Arial, Verdana, sans-serif !default;
$button-large-font-family-disabled: Tahoma, Arial, Verdana, sans-serif !default;
$button-large-icon-size: 32px !default;

$button-default-base-color: #DFDFDF !default;
$button-default-border-color: darken($button-default-base-color, 10%) !default;
$button-default-border-color-over: #87A9D6 !default;
$button-default-border-color-pressed: #9EBAE1 !default;
$button-default-background-color: $button-default-base-color !default;
$button-default-background-color-over: #DDEFFF !default;
$button-default-background-color-pressed: #BCCFE5 !default;
$button-default-background-gradient: 'glossy-button' !default;
$button-default-background-gradient-over: 'glossy-button-over' !default;
$button-default-background-gradient-pressed: 'glossy-button-pressed' !default;
$button-default-color: #111 !default;
$button-default-color-over: #111 !default;
$button-default-color-pressed: #111 !default;
$button-default-color-disabled: #B9B3B9 !default;

$button-toolbar-base-color: #DFDFDF !default;
$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: #81A4D0 !default;
$button-toolbar-border-color-pressed: #7A9AC4;
$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: #DBEEFF !default;
$button-toolbar-background-color-pressed: #BCCFE5 !default;
$button-toolbar-background-gradient: null !default;
$button-toolbar-background-gradient-over: 'glossy-button-over' !default;
$button-toolbar-background-gradient-pressed: 'glossy-button-pressed' !default;
$button-toolbar-color: #333 !default;
$button-toolbar-color-over: #333 !default;
$button-toolbar-color-pressed: #333 !default;
$button-toolbar-color-disabled: #333 !default;