// color picker
$colorpicker-item-border-color: #aca899 !default;
$colorpicker-over-border-color: #8bb8f3 !default;
$colorpicker-over-background-color: #deecfd !default;

// date picker
$datepicker-border-color: #718bb7 !default;
$datepicker-border-width: 1px !default;
$datepicker-border-style: solid !default;
$datepicker-border: $datepicker-border-width $datepicker-border-style $datepicker-border-color !default;
$datepicker-background-color: #ffffff !default;


//item
$datepicker-item-border-width: 1px !default;
$datepicker-item-border-style: solid !default;
$datepicker-item-border-color: #fff !default;
$datepicker-item-border: $datepicker-item-border-width $datepicker-item-border-style $datepicker-item-border-color !default;

$datepicker-item-hover-background-color: #ddecfe !default;

$datepicker-selected-item-border-width: 1px !default;
$datepicker-selected-item-border-style: solid !default;
$datepicker-selected-item-border-color: #8db2e3 !default;
$datepicker-selected-item-border: $datepicker-selected-item-border-width $datepicker-selected-item-border-style $datepicker-selected-item-border-color !default;

$datepicker-footer-color: #dfecfb !default;