$toolbar-font-size: ceil($font-size * .9) !default;

$toolbar-background-color: adjust-color($base-color, $hue: -1.333deg, $saturation: -3.831%, $lightness: 4.51%) !default;
$toolbar-inner-border-width: 1px 0px 0px !default;
$toolbar-inner-border-color: lighten($toolbar-background-color, 5%) !default;

//margins
$toolbar-margin: 1px 1px 2px 1px;

//border
$toolbar-border-color: $panel-body-border-color !default;

//spacer
$toolbar-spacer-width: 2px !default;

//text
$toolbar-text-color: mix($mix-color, #000, 30) !default;
$toolbar-text-padding: 2px 4px 0 4px !default;