@mixin extjs-form-triggerfield {
	.#{$prefix}form-trigger-wrap {
        float: left;
    }
    
    .#{$prefix}form-trigger {
        background-image: theme-image($theme-name, 'form/trigger.gif');
		background-position: 0 0;
		
		width: 17px;
		height: 21px;
		float: left;

		border-bottom: 1px solid adjust-color($neutral-color, $hue: 234.545deg, $saturation: -41.453%, $lightness: -14.706%);

        cursor: pointer;
        cursor: hand;
    }
    
    .#{$prefix}form-trigger-over {
		background-position: -17px 0;

		border-bottom-color: adjust-color($base-color, $hue: -4.322deg, $saturation: -1.065%, $lightness: -16.863%);
    }
    
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger {
		background-position: -51px 0;

		border-bottom-color: adjust-color($base-color, $hue: -4.322deg, $saturation: -1.065%, $lightness: -16.863%);
    }
    
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger-over {
        background-position: -68px 0;
    }
    
    .#{$prefix}form-trigger-click,
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-trigger-click {
		background-position: -34px 0;
    }

    .#{$prefix}form-trigger-icon {
        height: 20px;
        
        background-repeat: no-repeat;
        background-position: 7px 6px;
    }
    
    .#{$prefix}pickerfield-open {
        .#{$prefix}form-field {
            @include border-bottom-radius(0);
        }
    }
    
    .#{$prefix}pickerfield-open-above {
        .#{$prefix}form-field {
            @include border-bottom-left-radius($form-field-border-radius);
            @include border-top-radius(0);
        }
    }
    
    .#{$prefix}form-arrow-trigger {
        .#{$prefix}form-trigger-icon {
            background-image: theme-image($theme-name, 'boundlist/trigger-arrow.png');
        }
    }
    
    .#{$prefix}form-date-trigger {
        background-image: theme-image($theme-name, 'form/date-trigger.gif');
    }
    
    .#{$prefix}form-spinner-up,
    .#{$prefix}form-spinner-down {
        background-image: theme-image($theme-name, 'form/spinner.gif');
        width: 17px;
        height: 11px;
        font-size: 0; /*for IE*/
    }
    .#{$prefix}form-spinner-down {
        background-position: 0 -11px;
        height: 10px;
    }
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-spinner-down {
        background-position: -51px -11px;
    }
    .#{$prefix}form-spinner-down-over {
        background-position: -17px -11px;
    }
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-spinner-down-over {
        background-position: -68px -11px;
    }

    .#{$prefix}form-spinner-down-click,
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-spinner-down-click {
        background-position: -34px -11px;
    }
}