@import 'compass';

#topRenderPanel{
background-color: #DFE8F6;
padding: 5px !important;
}
#topRenderPanel .x-panel-body{
	background-color: #fff !important;
}
#topRenderPanel-header{
	background-color: #DFE8F6;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}
#topRenderPanel-body{
	padding:5px;
	background-color: #fff;
	border-color: #D4CDCC;
	border-style: solid;
	border-width:1px;
}
.form-white-bg .x-panel-body {
	background-color: #fff !important;
	background-color: #fff !important;
	border-color: #D4CDCC !important;
	border-style: solid !important;
	border-width: 1px !important;
}
.x-grid-table .x-grid-row{
cursor: hand !important;
cursor: pointer !important;
}

@import 'ext4/default/all';