$prefix: 'x' !default;

$theme-name: 'default' !default;

$font-family: Tahoma, Arial, Verdana, sans-serif !default;
$font-size  : 12px !default;

$base-gradient: 'matte' !default;
$base-color   : #C0D4ED !default;

$include-ie              : true !default;
$include-no-border-radius: true !default;
$include-no-gradients    : true !default;
$include-highlights      : true !default;
