/**
 * @class Ext.menu.*
 */

//backgrounds
$menu-background-color: #f0f0f0 !default;
$menu-item-active-background-color: #D9E8FB !default;

//border
$menu-border-radius: 4px !default;
$menu-border-color: #718bb7 !default;
$menu-item-active-border-color: #A9CBF5 !default;
$menu-separator-border-color: #E0E0E0 !default;
$menu-separator-background-color: #FFF !default;

//sizes
$menu-item-indent: 27px !default;

//text
$menu-text-color: #222 !default;