
/**
 * @class Ext.ToolTip
 */

$tip-base-color: #A8DAFC !default;

//background
$tip-background-color: $tip-base-color !default;
$tip-background-gradient: 'matte' !default;

//text
$tip-body-color      : darken($tip-base-color, 70);
$tip-body-font-size  : 12px;
$tip-body-font-weight: normal;
$tip-body-text-shadow: 0 1px 0 rgba(255,255,255, .6);

$tip-body-link-color: darken($tip-body-color, 10%);

$tip-header-color      : $tip-body-color;
$tip-header-font-size  : $tip-body-font-size;
$tip-header-font-weight: bold;
$tip-header-text-shadow: $tip-body-text-shadow;

//borders
$tip-border-color: darken($tip-base-color, 15);
$tip-border-width: 1px;
$tip-border-radius: 5px;