@import 'variables/core';

$mix-color: desaturate(lighten($base-color, 37), 5) !default;

@import 'variables/focus';
@import 'variables/panel';
@import 'variables/grid';
@import 'variables/button';
@import 'variables/pickers';
@import 'variables/toolbar';
@import 'variables/form';
@import 'variables/menu';
@import 'variables/window';
@import 'variables/tabs';
@import 'variables/qtip';
@import 'variables/progress';
@import 'variables/buttongroup';
@import 'variables/boundlist';
@import 'variables/tree';
@import 'variables/loadmask';



















