.x-strip-left {
    float: left;
}
.x-strip-right {
    float: right;
}

.x-strip-scroller {
    cursor: pointer;
    width: 18px;
    height: 22px;
}

.x-strip-scroller.x-strip-scroller-left-disabled, .x-strip-scroller.x-strip-scroller-right-disabled {
    opacity: 0.5;
    cursor: auto;
}

.x-strip-scroller-left {
    margin-right: 1px;
    background: url("../images/default/tabs/scroll-left.gif") no-repeat scroll -18px -1px transparent;
}

.x-strip-scroller-right {
    margin-left: 1px;
    background: url("../images/default/tabs/scroll-right.gif") no-repeat scroll 0 -1px transparent;
}

.x-strip-scroller-left-hover {
    background-position: 0px -1px;
}

.x-strip-scroller-right-hover {
    background-position: -18px -1px;
}

.x-tab {
    height: 22px;
    cursor: pointer;
}

.x-tab .x-tab-right, .x-tab .x-tab-left, .x-tab .x-tab-text {
    height: 22px;
    background-image: url("../images/default/tabs/tabs-sprite.gif");
    background-repeat: no-repeat;
    background-position: top right;
}

.x-tab.x-tab-hover .x-tab-right  {background-position: right -351px;}
.x-tab.x-tab-hover .x-tab-left   {background-position: 0 -51px;}
.x-tab.x-tab-hover .x-tab-text   {background-position: 0 -201px;}

.x-tab.x-tab-active .x-tab-right {background-position: right -301px;}
.x-tab.x-tab-active .x-tab-left  {background-position: 0 0;}
.x-tab.x-tab-active .x-tab-text  {background-position: 0 -151px;}

.x-tab .x-tab-right {
    background-position: right -401px;
}

.x-tab .x-tab-left {
    background-position: 0 -101px;
}

.x-tab .x-tab-text {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0px;
    vertical-align: bottom;
    background-repeat: repeat-x;
    background-position: 0 -251px;
}

.x-tab .x-tab-text span {
    position: absolute;
    top: 4px;
    bottom: 2px;
    vertical-align: bottom;
    color: #416AA3;
    font: 11px tahoma,arial,helvetica;
    overflow: hidden;
}

.x-tab-active .x-tab-text span {
    color: #15428B;
    font-weight: bold;
}

.x-tab-with-icon .x-tab-text span {
    padding-left: 20px;
    background-repeat: no-repeat;
}

.x-tab.x-tab-closable .x-tab-close {
    background-image: url("../images/default/tabs/tab-close.gif");
    height: 11px;
    width: 11px;
    position: absolute;
    right: 3px;
    top: 3px;
    opacity: 0.6;
    z-index: 2;
    cursor: pointer;
}

.x-tab.x-tab-active.x-tab-closable .x-tab-close {
    opacity: 0.8;
}
