@mixin extjs-grid {
    //main grid view
    .#{$prefix}grid-section .#{$prefix}grid-body {
        background: $panel-body-background-color;
        border-color: $panel-body-border-color;
        border-style: $panel-body-border-style;
        border-width: $panel-body-border-width;
    }
    
    .#{$prefix}grid-view {
        overflow: hidden;
        
        position: relative;
    }
    
    .#{$prefix}grid-table {
        table-layout: fixed;
        border-collapse: separate;
    }
    
    @if $include-ie or $compile-all {
      .#{$prefix}ie .#{$prefix}grid-table {
          border-collapse: collapse;
      }
    }
    
    //grid header
    .#{$prefix}grid-header-ct {
        cursor: default;
        zoom: 1;
        padding: 0;
        
        border: 1px solid $panel-body-border-color;
        
        @if $supports-gradients or $compile-all {
            @include background-gradient($grid-header-background-color, $grid-header-background-gradient);
        }
    }
    
    .#{$prefix}column-header {
        padding: $grid-header-padding;
        position: relative;
        
        overflow: hidden;
        
        border-left: 1px solid $grid-header-border-color;
        border-right: 1px solid $grid-header-background-color;

        text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
        
        font: normal 11px/15px arial, tahoma, helvetica, sans-serif;
        
        @if $supports-gradients or $compile-all {
            @include background-gradient($grid-header-background-color, $grid-header-background-gradient);
        }
    }
    
    .#{$prefix}column-header-inner {
        white-space: nowrap;
    }
    
    .#{$prefix}column-header-over,
    .#{$prefix}column-header-sort-ASC,
    .#{$prefix}column-header-sort-DESC {
        border-left-color: $grid-header-over-border-color;
        border-right-color: $grid-header-over-border-color;
        
        @if $supports-gradients or $compile-all {
            @include background-gradient($grid-header-over-background-color, $grid-header-over-background-gradient);
        }
    }
    
    .#{$prefix}column-header-sort-ASC .#{$prefix}sort-indicator {
        display: inline;
        background-image: theme-image($theme-name, 'grid/sort_asc.gif');
    }

    .#{$prefix}column-header-sort-DESC .#{$prefix}sort-indicator {
        display: inline;
        background-image: theme-image($theme-name, 'grid/sort_desc.gif');
    }
    
    @if not $supports-gradients or $compile-all {
        .#{$prefix}nlg {
            .#{$prefix}grid-header-ct,
            .#{$prefix}column-header {
                background: theme-image($theme-name, 'grid/column-header-bg.png') repeat-x 0 top;
            }

            .#{$prefix}column-header-over,
            .#{$prefix}column-header-sort-ASC,
            .#{$prefix}column-header-sort-DESC {
                background: #ebf3fd theme-image($theme-name, 'grid/column-header-over-bg.png') repeat-x 0 top;
            }   
        }
    }
    
    .#{$prefix}column-header-trigger {
        display: none;
        
        height: $grid-header-trigger-height;
        width: $grid-header-trigger-width;
        
        background: no-repeat left center;
        background-color: #c3daf9;
        background-image: theme-image($theme-name, 'grid/grid3-hd-btn.gif');
        
        position: absolute;
        right: 0;
        top: 0;
        
        z-index: 2;
        
        cursor: pointer;
    }
    
    .#{$prefix}column-header-over, .#{$prefix}column-header-open {
        .#{$prefix}column-header-trigger {
            display: block;
        }
    }

    .#{$prefix}column-header-align-right {
        text-align: right;
    }
    .#{$prefix}column-header-align-center {
        text-align: center;
    }
    .#{$prefix}column-header-align-left {
        text-align: left;
    }
    
    .#{$prefix}sort-indicator {
        background: transparent no-repeat left top;
        
        display: none;
        
        height: 4px;
        width: 8px;
        
        margin-left: 3px;
        
        vertical-align: middle;
    }
    
    //grid rows
    .#{$prefix}grid-row {
        line-height: 13px;
        
        vertical-align: top;
        
        padding: $grid-row-padding;
        
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: ignore;
        
        .#{$prefix}grid-cell {
            font: $grid-row-cell-font;

            background-color: $grid-row-cell-background;

            border-color: $grid-row-cell-border-color;
            border-style: $grid-row-cell-border-style;
            border-width: $grid-row-cell-border-width;
            border-top-color: #fff;
        }
    }
    
    .#{$prefix}grid-rowwrap-div {
        border-width: $grid-row-wrap-border-width;
        border-color: $grid-row-wrap-border-color;
        border-style: $grid-row-wrap-border-style;
        border-top-color: #fff;
        
        overflow: hidden;
    }
    
    .#{$prefix}grid-row-alt .#{$prefix}grid-cell {
        background-color: $grid-row-cell-alt-background;
    }
    
    .#{$prefix}grid-row-over .#{$prefix}grid-cell,
    .#{$prefix}grid-row-over .#{$prefix}grid-rowwrap-div {
        border-color: $grid-row-cell-over-border-color;
        
        @if $supports-gradients or $compile-all {
            @include background-gradient($grid-row-cell-over-background-color, $grid-row-cell-over-background-gradient);
        }
    }
    
    .#{$prefix}grid-row-focused .#{$prefix}grid-cell,
    .#{$prefix}grid-row-focused .#{$prefix}grid-rowwrap-div {
        border-color: $grid-row-cell-focus-border-color;
        
        @if $supports-gradients or $compile-all {
            @include background-gradient($grid-row-cell-focus-background-color, $grid-row-cell-focus-background-gradient);
        }
    }
    
    .#{$prefix}grid-row-selected .#{$prefix}grid-cell,
    .#{$prefix}grid-row-selected .#{$prefix}grid-rowwrap-div {
        border-style: $grid-row-cell-selected-border-style;
        border-color: $grid-row-cell-selected-border-color;
        
        background-color: $grid-row-cell-selected-background-color !important;
        background-image: none;
    }
    
    .#{$prefix}grid-rowwrap-div {
        .#{$prefix}grid-cell {
            border-width: 0;
            
            background: transparent;
        }
    }
    
    .#{$prefix}grid-row-body-hidden {
        display: none;
    }

    .#{$prefix}grid-rowbody {
        font: $grid-row-body-font;
        
        padding: $grid-row-body-padding;
    }
    
    @if not $supports-gradients {
        .#{$prefix}nlg .#{$prefix}grid-row-over .#{$prefix}grid-cell {
            background: repeat-x left top;
            background-color: #efefef;
            background-image: theme-image($theme-name, 'grid/row-over.gif');
        }
    }
    
    @if not $supports-gradients or $compile-all {
        .#{$prefix}nlg {
            .#{$prefix}grid-row-over .#{$prefix}grid-cell,
            .#{$prefix}grid-row-over .#{$prefix}grid-rowwrap-div {
                background: theme-image($theme-name, 'grid/cell-over-bg.png') repeat-x 0 top;
            }

            .#{$prefix}grid-row-focused .#{$prefix}grid-cell,
            .#{$prefix}grid-row-focused .#{$prefix}grid-rowwrap-div {
                background: theme-image($theme-name, 'grid/cell-focused-bg.png') repeat-x 0 top;
            }

            .#{$prefix}grid-row-selected .#{$prefix}grid-cell,
            .#{$prefix}grid-row-selected .#{$prefix}grid-rowwrap-div {
                background: theme-image($theme-name, 'grid/cell-selected-bg.png') repeat-x 0 top;
            }
        }
    }
    
    //grid cells
    .#{$prefix}grid-cell {
        overflow: hidden;
        
        font: $grid-cell-font;
        
        -moz-user-select: none;
        -khtml-user-select:none;
        -webkit-user-select:ignore;
    }
    
    .#{$prefix}grid-cell-inner {
        overflow: hidden;
        
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        padding: $grid-cell-inner-padding;
        
        white-space: nowrap;
    }
    
    .#{$prefix}grid-row .#{$prefix}grid-cell-special {
        @if $supports-gradients or $compile-all {
            @include background-gradient(adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: -2.549%), grid-cell-special);
        }
        
        padding-right: 0;
        border-right: 1px solid $grid-cell-with-col-lines-border-color;
    }
    
    .#{$prefix}grid-row-selected .#{$prefix}grid-cell-special {
        @if $supports-gradients or $compile-all {
            @include background-gradient($grid-cell-special-over-background-color, grid-cell-special-over);
        }
        
        padding-right: 0;
        border-right: 1px solid adjust-color($base-color, $hue: -0.175deg, $saturation: 25.296%, $lightness: -2.549%);
    }
    
    @if not $supports-gradients or $compile-all {
        .#{$prefix}nlg {
            .#{$prefix}grid-cell-special {
                background: #fff;
            }
            
            .#{$prefix}grid-row .#{$prefix}grid-cell-special {
                //background: theme-image($theme-name, 'grid/cell-special-bg.png') repeat-y top right;
            }
            
            .#{$prefix}grid-row-over .#{$prefix}grid-cell-special {
                //background: theme-image($theme-name, 'grid/cell-special-over-bg.png') repeat-y top right;
            }
            
            .#{$prefix}grid-row-focused .#{$prefix}grid-cell-special {
                //background: theme-image($theme-name, 'grid/cell-special-focused-bg.png') repeat-y top right;
            }
            
            .#{$prefix}grid-row-selected .#{$prefix}grid-cell-special {
                //background: theme-image($theme-name, 'grid/cell-special-selected-bg.png') repeat-y top right;
            }
        }
    }
    
    .#{$prefix}grid-with-col-lines .#{$prefix}grid-row .#{$prefix}grid-cell {
        padding-right: 0;
        border-right: 1px solid $grid-cell-with-col-lines-border-color;
    }
    
    .#{$prefix}unselectable {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: ignore;
    }

    .#{$prefix}grid-row-body-hidden {
        display: none;
    }

    .#{$prefix}grid-group-collapsed {
        display: none;
    }
    
    //grid expander
    .#{$prefix}grid-view {
        .#{$prefix}grid-td-expander {
            vertical-align: top;
        }
    }

    .#{$prefix}grid-td-expander {
        background: repeat-y right transparent;
    }

    .#{$prefix}grid-view {
        .#{$prefix}grid-td-expander {
            .#{$prefix}grid-cell-inner {
                padding: 0 !important;
            }
        }
    }

    .#{$prefix}grid-row-expander {
        background-image: theme-image($theme-name, 'grid/group-collapse.gif');
        background-color: transparent;
        
        width: 9px;
        height: 13px;
        
        margin-left: 5px;
        
        background-repeat: no-repeat;
        background-position: 0 -2px;
    }
    
    .#{$prefix}grid-row-collapsed {
        .#{$prefix}grid-row-expander {
            background-image: theme-image($theme-name, 'grid/group-expand.gif');
        }
    }
    
    .#{$prefix}grid-resize-marker {
        position: absolute;
        
        z-index: 5;
        top: 0;
        width: 1px;
        
        background-color: #0f0f0f;
    }
    
    //column move icons, when moving columns
    .col-move-top,
    .col-move-bottom {
        width: 9px;
        height: 9px;
        
        position: absolute;
        top: 0;
        
        line-height: 1px;
        font-size: 1px;
        
        overflow: hidden;
        visibility: hidden;
        
        z-index: 20000;
        
        background: no-repeat left top transparent;
    }
    
    .col-move-top {
        background-image: theme-image($theme-name, 'grid/col-move-top.gif');
    }

    .col-move-bottom {
        background-image: theme-image($theme-name, 'grid/col-move-bottom.gif');
    }
    
    //pading toolbar
    .#{$prefix}tbar-page-number {
        width: 30px;
        height: 15px;
    }
    
    //grouped grid
    .#{$prefix}grid-group,
    .#{$prefix}grid-group-body,
    .#{$prefix}grid-group-hd {
        zoom: 1;
    }

    .#{$prefix}grid-group-hd td {
        background: $grid-grouped-header-background-color;
        
        border-width: $grid-grouped-header-border-width;
        border-style: $grid-grouped-header-border-style;
        border-color: $grid-grouped-header-border-color;
        
        cursor: pointer;
        padding-top: $grid-grouped-header-padding;
    }
    
    .#{$prefix}grid-group-title {
        background: transparent no-repeat 3px 3px;
        background-image: theme-image($theme-name, 'grid/group-collapse.gif');
        
        color: $grid-grouped-title-color;
        font: $grid-grouped-title-font;
        
        padding: $grid-grouped-title-padding;
    }
    
    .#{$prefix}grid-group-hd-collapsed {
        .#{$prefix}grid-group-title {
            background-image: theme-image($theme-name, 'grid/group-expand.gif');
        }
    }

    .#{$prefix}grid-group-collapsed .#{$prefix}grid-group-body {
        display: none;
    }

    .#{$prefix}grid-group-collapsed .#{$prefix}grid-group-title {
        background-image: theme-image($theme-name, 'grid/group-expand.gif');
    }

    .#{$prefix}group-by-icon {
        background-image: theme-image($theme-name, 'grid/group-by.gif');
    }

    .#{$prefix}show-groups-icon {
        background-image: theme-image($theme-name, 'grid/group-by.gif');
    }
    
    .#{$prefix}grid-row-checker,
    .#{$prefix}grid-hd-checker {
        height: 14px;
        
        background-image: theme-image($theme-name, 'grid/row-check-sprite.gif');
        background-position: top left;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    
    .#{$prefix}grid-hd-checker-on .#{$prefix}grid-hd-checker {
        background-position: -25px 0;
    }
    
    .#{$prefix}grid-row-checker {
        background-position: 3px 0;
    }
    
    .#{$prefix}grid-row-selected .#{$prefix}grid-row-checker,
    .#{$prefix}grid-row-checked .#{$prefix}grid-row-checker {
        background-position: -22px 0;
    }
    
    //grid icons
    .#{$prefix}tbar-page-first {
        background-image: theme-image($theme-name, 'grid/page-first.gif') !important;
    }

    .#{$prefix}tbar-loading {
        background-image: theme-image($theme-name, 'grid/refresh.gif') !important;
    }

    .#{$prefix}tbar-page-last {
        background-image: theme-image($theme-name, 'grid/page-last.gif') !important;
    }

    .#{$prefix}tbar-page-next {
        background-image: theme-image($theme-name, 'grid/page-next.gif') !important;
    }

    .#{$prefix}tbar-page-prev {
        background-image: theme-image($theme-name, 'grid/page-prev.gif') !important;
    }

    .#{$prefix}item-disabled {
        .#{$prefix}tbar-loading {
            background-image: theme-image($theme-name, 'grid/refresh-disabled.gif') !important;
        }

        .#{$prefix}tbar-page-first {
            background-image: theme-image($theme-name, 'grid/page-first-disabled.gif') !important;
        }

        .#{$prefix}tbar-page-last {
            background-image: theme-image($theme-name, 'grid/page-last-disabled.gif') !important;
        }

        .#{$prefix}tbar-page-next {
            background-image: theme-image($theme-name, 'grid/page-next-disabled.gif') !important;
        }

        .#{$prefix}tbar-page-prev {
            background-image: theme-image($theme-name, 'grid/page-prev-disabled.gif') !important;
        }
    }
    
    //menu icons
    .xg-hmenu-sort-asc .#{$prefix}menu-item-icon {
        background-image: theme-image($theme-name, 'grid/hmenu-asc.gif');
    }

    .xg-hmenu-sort-desc .#{$prefix}menu-item-icon {
        background-image: theme-image($theme-name, 'grid/hmenu-desc.gif');
    }

    .xg-hmenu-lock .#{$prefix}menu-item-icon {
        background-image: theme-image($theme-name, 'grid/hmenu-lock.gif');
    }

    .xg-hmenu-unlock .#{$prefix}menu-item-icon {
        background-image: theme-image($theme-name, 'grid/hmenu-unlock.gif');
    }
    
    .#{$prefix}group-by-icon {
        background-image: theme-image($theme-name, 'grid/group-by.gif');
    }

    .#{$prefix}cols-icon .#{$prefix}menu-item-icon {
        background-image: theme-image($theme-name, 'grid/columns.gif');
    }

    .#{$prefix}show-groups-icon {
        background-image: theme-image($theme-name, 'grid/group-by.gif');
    }

    // Drag/drop indicator styles
    .#{$prefix}grid-drop-indicator {
        position: absolute;
        height: 1px;
        line-height: 0px;
        background-color: #77BC71;
        overflow: visible;

        .#{$prefix}grid-drop-indicator-left {
            position: absolute;
            top: -8px;
            left: -12px;
            background-image: theme-image($theme-name, 'grid/dd-insert-arrow-right.png');
            height: 16px;
            width: 16px;
        }

        .#{$prefix}grid-drop-indicator-right {
            position: absolute;
            top: -8px;
            right: -11px;
            background-image: theme-image($theme-name, 'grid/dd-insert-arrow-left.png');
            height: 16px;
            width: 16px;
        }
    }
}
