/**
  * @class Ext.LoadMask
  * Component used to mask a component
  */
.#{$prefix}mask {
    z-index: 100;
    
    position: absolute;
    top: 0;
    left: 0;
    
    @include opacity($loadmask-opacity);
    
    width: 100%;
    height: 100%;
    zoom: 1;
    
    background: $loadmask-backgorund;
}

.#{$prefix}mask-msg {
    z-index: 20001;

    position: absolute;
    top: 0;
    left: 0;
    
    padding: $loadmask-msg-padding;
    border: 1px solid;
    border-color: $loadmask-msg-border-color;

    @if $supports-gradients or $compile-all {
        @include background-gradient($loadmask-msg-background-color, $loadmask-msg-background-gradient);
    }
    
    div {
        padding: $loadmask-msg-inner-padding;
        background-image: theme-image($theme-name, $loadmask-msg-inner-icon);
        background-repeat: no-repeat;
        background-position: 5px center;  
        cursor: wait;
        
        border: 1px solid #a3bad9;
        
        background-color: #eee;
        
        color: #222;
        font: normal 11px tahoma, arial, helvetica, sans-serif;
        text-shadow: 0 1px 0 #fff;
    }
}

@if not $supports-gradients or $compile-all {
    .#{$prefix}nlg .#{$prefix}mask-msg {
      background-image: theme-image($theme-name, 'mask/mask-bg.png');
    } 
}