/**
  * @class Ext.Tab
  */
@mixin extjs-tab {
    @include x-frame(
        $cls: 'tab',
        $ui: 'top',
        $border-radius: $tab-top-border-radius,
        $border-width: $tab-top-border-width,
        $background-color: $tab-base-color,
        $background-gradient: $tab-background-gradient,
        $background-direction: top,
        $table: true
    );

    @include x-frame(
        $cls: 'tab',
        $ui: 'bottom',
        $border-radius: $tab-bottom-border-radius,
        $border-width: $tab-bottom-border-width,
        $background-color: $tab-base-color,
        $background-gradient: $tab-background-gradient,
        $background-direction: bottom,
        $table: true
    );
        
    .#{$prefix}tab {
        z-index: 1;
        margin: 2px 0 0 2px;
        display: inline-block;
        zoom: 1;
        *display: inline;
        white-space: nowrap;
        padding: 5px 9px 6px;
        height: $tab-height;
        border-color: $tab-border-color;
        cursor: pointer;
        
        button {
            background-color: transparent;
            background-position: 0 -1px;
            background-repeat: no-repeat;
            border: 0px none;
            height: 14px;
            margin: -1px 0 0;
            display: block;
            padding: 0;
            -webkit-appearance: none;
            font-size: $tab-font-size;
            @if $tab-font-weight {
                font-weight: $tab-font-weight;
            }
            @if $tab-font-family {
                $font-family: $tab-font-family;
            }
            
            color: $tab-color;
            cursor: pointer;
            outline: 0 none;
            
            overflow: visible;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            
            &::-moz-focus-inner {
                border: 0;
                padding: 0;
            }
        }
        
        img {
            display: none;
        }
    }
    
    .#{$prefix}tab-top {
        @include inner-border(
            $width: $tab-top-inner-border-width,
            $color: $tab-inner-border-color
        );
    }
    
    .#{$prefix}tab-bottom {
        @include inner-border(
            $width: $tab-bottom-inner-border-width,
            $color: $tab-inner-border-color
        );
    }
    
    .#{$prefix}tab-default-disabled {
        cursor: default;
        
        border-color: $tab-border-color-disabled;
        @include background-gradient($tab-base-color-disabled, $tab-background-gradient-disabled);
        
        button {
            color: $tab-color-disabled !important;
            
            cursor: default;
        }
    }
    
    .#{$prefix}tab-text-icon-left {
        button {
            padding-left: 20px;
        }
    }
    
    @if $include-ie {
        * html .#{$prefix}ie, .#{$prefix}ie7 {
            .#{$prefix}tab button {
                white-space: nowrap;
                zoom: 1;
                width: 16px;
                line-height: 13px;
                height: 14px;
            }
        }

        .#{$prefix}ie .#{$prefix}tab-top .#{$prefix}frame-mc {
            padding: 2px 6px 5px;
        }

        * html .#{$prefix}ie8 .#{$prefix}tab-top .#{$prefix}frame-mc {
            padding: 2px 6px 4px;
        }
        
        .#{$prefix}ie .#{$prefix}tab-bottom .#{$prefix}frame-mc {
            padding: 5px 6px 2px;
        }

        * html .#{$prefix}ie8 .#{$prefix}tab-bottom .#{$prefix}frame-mc {
            padding: 4px 6px 2px;
        }     
    }
    
    @if $include-opera {
        .#{$prefix}opera .#{$prefix}tab-top .#{$prefix}frame-mc {
            padding: 2px 6px 6px;
        }
        .#{$prefix}opera .#{$prefix}tab-bottom .#{$prefix}frame-mc {
            padding: 6px 6px 2px;
        }  
    }
    
    @if $include-ff {
        .#{$prefix}gecko .#{$prefix}tab-top {
            padding-bottom: 4px;
        }
        .#{$prefix}gecko .#{$prefix}tab-bottom {
            padding-top: 4px;
        }
    }
    
    //over
    .#{$prefix}tab-over {
        @if $tab-border-color-over != $tab-border-color {
            border-color: $tab-border-color-over;
        }
                        
        button {
            @if $tab-color-over != $tab-color {
                color: $tab-color-over;
            }
            @if $tab-font-weight-over != $tab-font-weight {
                font-weight: $tab-font-weight-over;
            }
            @if $tab-font-size-over != $tab-font-size {
                font-size: $tab-font-size-over;
            }
            @if $tab-font-family-over != $tab-font-family {
                font-family: $tab-font-family-over;
            } 
        }
    }

    @if $tab-background-gradient-over != $tab-background-gradient {
        .#{$prefix}tab-top-over {
            @include background-gradient($tab-base-color-over, $tab-background-gradient-over, top);
        }
        .#{$prefix}tab-bottom-over {
            @include background-gradient($tab-base-color-over, $tab-background-gradient-over, bottom);
        }
    }
    @else if $tab-base-color-over != $tab-background-over {
        .#{$prefix}tab-top-over,
        .#{$prefix}tab-bottom-over {
            background-color: $tab-base-color-over;
        }
    }
    
    //active
    .#{$prefix}tab-active {
        z-index: 3;
        @if $tab-border-color-active != $tab-border-color {
            border-color: $tab-border-color-active;
        }

        button {
            @if $tab-color-active != $tab-color {
                color: $tab-color-active;
            }
            @if $tab-font-weight-active != $tab-font-weight {
                font-weight: $tab-font-weight-active;
            }
            @if $tab-font-size-active != $tab-font-size {
                font-size: $tab-font-size-active;
            }
            @if $tab-font-family-active != $tab-font-family {
                font-family: $tab-font-family-active;
            } 
        }
    }
    
    @if $tab-background-gradient-active != $tab-background-gradient {
        .#{$prefix}tab-top-active {
            @include background-gradient($tab-base-color-active, $tab-background-gradient-active, top);
        }
        .#{$prefix}tab-bottom-active {
            @include background-gradient($tab-base-color-active, $tab-background-gradient-active, bottom);
        }
    }
    @else if $tab-base-color-active != $tab-background-active {
        .#{$prefix}tab-top-active,
        .#{$prefix}tab-bottom-active {
            background-color: $tab-base-color-active;
        }
    }
    
    //disabled
    .#{$prefix}tab-disabled {
        @if $tab-border-color-disabled != $tab-border-color {
            border-color: $tab-border-color-disabled;
        }

        button {
            @if $tab-color-disabled != $tab-color {
                color: $tab-color-disabled;
            }
            @if $tab-font-weight-disabled != $tab-font-weight {
                font-weight: $tab-font-weight-disabled;
            }
            @if $tab-font-size-disabled != $tab-font-size {
                font-size: $tab-font-size-disabled;
            }
            @if $tab-font-family-disabled != $tab-font-family {
                font-family: $tab-font-family-disabled;
            } 
        }
    }
    
    @if $tab-background-gradient-disabled != $tab-background-gradient {
        .#{$prefix}tab-top-disabled {
            background-image: none;
            background: transparent;
            @include background-gradient($tab-base-color-disabled, $tab-background-gradient-disabled, top);
        }
        .#{$prefix}tab-bottom-disabled {
            background-image: none;
            background: transparent;
            @include background-gradient($tab-base-color-disabled, $tab-background-gradient-disabled, bottom);
        }
    }
    @else if $tab-base-color-disabled != $tab-background-active {
        .#{$prefix}tab-top-disabled,
        .#{$prefix}tab-bottom-disabled {
            background-color: $tab-base-color-disabled;
        }
    }
    
    @if not $supports-gradients or $compile-all {
        .#{$prefix}nlg {
            .#{$prefix}tab-top { background-image: theme-image($theme-name, 'tab/tab-top-bg.png'); }
            .#{$prefix}tab-bottom { background-image: theme-image($theme-name, 'tab/tab-bottom-bg.png'); }
            
            .#{$prefix}tab-top-over { background-image: theme-image($theme-name, 'tab/tab-top-over-bg.png'); }
            .#{$prefix}tab-bottom-over { background-image: theme-image($theme-name, 'tab/tab-bottom-over-bg.png'); }
        
            .#{$prefix}tab-top-active { background-image: theme-image($theme-name, 'tab/tab-top-active-bg.png'); }
            .#{$prefix}tab-bottom-active { background-image: theme-image($theme-name, 'tab/tab-bottom-active-bg.png'); }
            
            .#{$prefix}tab-top-disabled { background-image: theme-image($theme-name, 'tab/tab-top-disabled-bg.png') !important; }
            .#{$prefix}tab-bottom-disabled { background-image: theme-image($theme-name, 'tab/tab-bottom-disabled-bg.png') !important; }
        }     
    }
    
    .#{$prefix}tab-closable {
        padding-right: 5px;
    }

    .#{$prefix}tab-closable em {
        display: block;
        background: theme-image($theme-name, 'tab/tab-default-close.gif') transparent no-repeat right center;
        padding-right: 14px;
    }

    @if not $supports-border-radius or $compile-all {
        .#{$prefix}nbr {
            .#{$prefix}tab-top-over {
                .#{$prefix}frame-tl,
                .#{$prefix}frame-bl,
                .#{$prefix}frame-tr,
                .#{$prefix}frame-br,
                .#{$prefix}frame-tc,
                .#{$prefix}frame-bc {
                    background-image: theme-image($theme-name, 'tab/tab-top-over-corners.png');
                }
                .#{$prefix}frame-ml,
                .#{$prefix}frame-mr {
                    background-image: theme-image($theme-name, 'tab/tab-top-over-sides.png');
                }
                .#{$prefix}frame-mc {
                    background-repeat: repeat-x;
                    background-image: theme-image($theme-name, 'tab/tab-top-over-bg.png');
                }
            }

            .#{$prefix}tab-bottom-over {
                .#{$prefix}frame-tl,
                .#{$prefix}frame-bl,
                .#{$prefix}frame-tr,
                .#{$prefix}frame-br,
                .#{$prefix}frame-tc,
                .#{$prefix}frame-bc {
                    background-image: theme-image($theme-name, 'tab/tab-bottom-over-corners.png');
                }
                .#{$prefix}frame-ml,
                .#{$prefix}frame-mr {
                    background-image: theme-image($theme-name, 'tab/tab-bottom-over-sides.png');
                }
                .#{$prefix}frame-mc {
                    background-repeat: repeat-x;
                    background-image: theme-image($theme-name, 'tab/tab-bottom-over-bg.png');
                }
            }

            .#{$prefix}tab-top-active {
                .#{$prefix}frame-tl,
                .#{$prefix}frame-bl,
                .#{$prefix}frame-tr,
                .#{$prefix}frame-br,
                .#{$prefix}frame-tc,
                .#{$prefix}frame-bc {
                    background-image: theme-image($theme-name, 'tab/tab-top-active-corners.png');
                }
                .#{$prefix}frame-ml,
                .#{$prefix}frame-mr {
                    background-image: theme-image($theme-name, 'tab/tab-top-active-sides.png');
                }
                .#{$prefix}frame-mc {
                    background-repeat: repeat-x;
                    background-image: theme-image($theme-name, 'tab/tab-top-active-bg.png');
                }
            }

            .#{$prefix}tab-bottom-active {
                .#{$prefix}frame-tl,
                .#{$prefix}frame-bl,
                .#{$prefix}frame-tr,
                .#{$prefix}frame-br,
                .#{$prefix}frame-tc,
                .#{$prefix}frame-bc {
                    background-image: theme-image($theme-name, 'tab/tab-bottom-active-corners.png');
                }
                .#{$prefix}frame-ml,
                .#{$prefix}frame-mr {
                    background-image: theme-image($theme-name, 'tab/tab-bottom-active-sides.png');
                }
                .#{$prefix}frame-mc {
                    background-repeat: repeat-x;
                    background-image: theme-image($theme-name, 'tab/tab-bottom-active-bg.png');
                }
            }
            
            .#{$prefix}tab-top-disabled {
                .#{$prefix}frame-tl,
                .#{$prefix}frame-bl,
                .#{$prefix}frame-tr,
                .#{$prefix}frame-br,
                .#{$prefix}frame-tc,
                .#{$prefix}frame-bc {
                    background-image: theme-image($theme-name, 'tab/tab-top-disabled-corners.png');
                }
                .#{$prefix}frame-ml,
                .#{$prefix}frame-mr {
                    background-image: theme-image($theme-name, 'tab/tab-top-disabled-sides.png');
                }
                .#{$prefix}frame-mc {
                    background-repeat: repeat-x;
                    background-image: theme-image($theme-name, 'tab/tab-top-disabled-bg.png');
                }
            }

            .#{$prefix}tab-bottom-disabled {
                .#{$prefix}frame-tl,
                .#{$prefix}frame-bl,
                .#{$prefix}frame-tr,
                .#{$prefix}frame-br,
                .#{$prefix}frame-tc,
                .#{$prefix}frame-bc {
                    background-image: theme-image($theme-name, 'tab/tab-bottom-disabled-corners.png');
                }
                .#{$prefix}frame-ml,
                .#{$prefix}frame-mr {
                    background-image: theme-image($theme-name, 'tab/tab-bottom-disabled-sides.png');
                }
                .#{$prefix}frame-mc {
                    background-repeat: repeat-x;
                    background-image: theme-image($theme-name, 'tab/tab-bottom-disabled-bg.png');
                }
            }
        }   
    }
}