@mixin extjs-toolbar {
    .#{$prefix}toolbar {
        font-size: 11px;

        border: 1px solid;
        border-color: $toolbar-border-color;
        background-color: $toolbar-background-color;
        
        //TODO this needs to move into an inner border in the frame or something..
/*        .\#{$prefix}box-inner {
            border-style: solid;
            border-width: $toolbar-border-inner-width;
            border-color: $toolbar-border-inner-color;
        }*/

        .#{$prefix}btn {
            margin: $toolbar-margin;
        }
    }
    
    .#{$prefix}toolbar-footer {
        background: transparent;
        border: 0px none;
        margin-top: 3px;
        
        .#{$prefix}box-inner {
            border-width: 0;
        }
        .#{$prefix}box-item {
            margin-bottom: 0px;
        }
    }

    .#{$prefix}toolbar-text {
        line-height: 22px;
        margin-top: -1px;
        white-space: nowrap;
        color: mix($mix-color, #000, 30) !important;
        text-shadow: 0 1px 0 lighten($mix-color, 24);
        padding: 0 4px 0 0;
    }

    .#{$prefix}ie6 .#{$prefix}toolbar-text,
    .#{$prefix}ie7 .#{$prefix}toolbar-text {
        position: relative;
        top: -3px;
    }

    .#{$prefix}toolbar-spacer {
        width: $toolbar-spacer-width;
    }

    .#{$prefix}toolbar-separator {
        background-position: center;
        background-repeat: no-repeat;
        background-image: theme-image($theme-name, 'grid/grid-blue-split.gif');
        display: block;
        font-size: 1px;
        height: 16px;
        width: 4px;
        overflow: hidden;
        cursor: default;
        margin: 0 2px 0;
        border: 0;
    }

    // Background for overflow button inserted by the Menu box overflow handler within a toolbar
    .#{$prefix}toolbar-more-icon {
        background-image: url(../../resources/themes/images/default/toolbar/more.gif)!important;
        background-position: 2px center!important;
        background-repeat: no-repeat;
    }
}